# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/

# -----------------------------
# Credentials
# -----------------------------
SLTrack.ini

# -----------------------------
# Excel outputs
# -----------------------------
out/
*.xlsx

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/